{% extends "base.html" %}

{% load static %}
{% block content %}
<link rel="stylesheet" href={% static 'css/face.css' %}>

<div class="container center-container" data-aos="fade-up">
    <video id="video" width="640" height="480" autoplay></video>
    <div class="button-container">
        <button id="start" class="w3-button w3-round-large">Iniciar</button>
        <button id="stop" class="w3-button w3-round-large" style="display: none;">Detener</button>
        <button id="snap" class="w3-button w3-round-large" style="display: none;">Capturar</button>
        <button id="sendCapture" class="w3-button w3-round-large" style="display: none;">Enviar Captura</button>
    </div>
    <canvas id="canvas" width="640" height="480" style="display: none;"></canvas>
    <div class="input-container">
        <label for="cedula">Cédula:</label>
        <input type="text" id="cedula" name="cedula">
    </div>
</div>

<div class="w3-container">
    <table class="w3-table w3-hoverable w3-centered w3-card-4"">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cédula</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>2002-10-10</td>
                <td>091212121</td>
                <td>Registrado</td>
            </tr>

        </tbody>
    </table>
</div>


{% endblock content %}

{% block script %}
<script src = {% static 'js/face.js' %}> </script>
{% endblock script %}

