{% extends "base.html" %}

{% load static %}
{% block content %}
<link rel="stylesheet" href={% static 'css/face.css' %}>

<div class="container center-container" data-aos="fade-up">
    <video id="video" width="640" height="480" autoplay></video>

</div>

<div class="w3-container">
    <table class="w3-table w3-hoverable w3-centered w3-card-4">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Placa</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>


{% endblock content %}

{% block script %}



<script src = {% static 'js/plate.js' %}></script>



{% endblock script %}

